h1 {
  font-size: 3rem;
  font-weight: normal;
}

h1.title {
  margin-bottom: 3 rem;
  text-align: center;
  font-weight: bold;
}

section {
  padding: 3rem 0 4rem 0;
  margin-top: -100px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: s 1rem;
}

.members {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.members:before,
.members:after {
  position: absolute;
  content: "";
  width: 23.958%;
  height: 110px;
  z-index: -1;
  background-color: #fff;
}

.members:after {
  right: 0;
}

.members:before {
  left: 0;
  transform: scaleX(-1);
}

.members > * {
  margin-right: 10px;
  animation: scroll 15s linear infinite;
}

.member img {
  width: 120px;
  height: 120px;
  margin: 8pt;
  border-radius: 50%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-240px * 5));
    transform: translateX(calc(-240px * 5));
  }
}


